<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- arc_sys_user_channel表:系统渠道用户表模块 -->
<mapper namespace="com.ajaya.cashloan.system.mapper.SysUserChannelMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.ajaya.cashloan.system.domain.SysUserChannel">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="channel_id" property="channelId" jdbcType="BIGINT" />
        <result column="state" property="state" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,channel_id,state 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="channelId != null and channelId != '' ">
                and channel_id = #{channelId,jdbcType=BIGINT}
            </if>
            <if test="state != null and state != '' ">
                and state = #{state,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.ajaya.cashloan.system.domain.SysUserChannel">
        insert into arc_sys_user_channel(user_id,channel_id,state)values(#{userId,jdbcType=BIGINT},#{channelId,jdbcType=BIGINT},#{state,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.ajaya.cashloan.system.domain.SysUserChannel">
        update arc_sys_user_channel set 
            user_id = #{userId,jdbcType=BIGINT},
            channel_id = #{channelId,jdbcType=BIGINT},
            state = #{state,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update arc_sys_user_channel
          <set>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="channelId != null and channelId != '' ">        
                channel_id = #{channelId,jdbcType=BIGINT},                
            </if>
            <if test="state != null and state != '' ">        
                state = #{state,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id,jdbcType=BIGINT}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from arc_sys_user_channel
        where id = #{id,jdbcType=BIGINT}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from arc_sys_user_channel
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from arc_sys_user_channel
        <include refid="searchBy"/>
    </select>
    
</mapper>
