<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_urge_order_push_log表:催收系统订单推送表模块 -->
<mapper namespace="com.ajaya.cashloan.cl.mapper.UrgeOrderPushLogMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.ajaya.cashloan.cl.domain.UrgeOrderPushLog">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="borrow_id" property="borrowId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="param_json" property="paramJson" jdbcType="VARCHAR" />
        <result column="return_json" property="returnJson" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,borrow_id,type,state,param_json,return_json,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="borrowId != null and borrowId != '' ">
                and borrow_id = #{borrowId,jdbcType=BIGINT}
            </if>
            <if test="type != null and type != '' ">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="state != null and state != '' ">
                and state = #{state,jdbcType=VARCHAR}
            </if>
            <if test="paramJson != null and paramJson != '' ">
                and param_json = #{paramJson,jdbcType=VARCHAR}
            </if>
            <if test="returnJson != null and returnJson != '' ">
                and return_json = #{returnJson,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.ajaya.cashloan.cl.domain.UrgeOrderPushLog">
        insert into cl_urge_order_push_log(user_id,borrow_id,type,state,param_json,return_json,create_time)values(#{userId,jdbcType=BIGINT},#{borrowId,jdbcType=BIGINT},#{type,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},#{paramJson,jdbcType=VARCHAR},#{returnJson,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.ajaya.cashloan.cl.domain.UrgeOrderPushLog">
        update cl_urge_order_push_log set 
            user_id = #{userId,jdbcType=BIGINT},
            borrow_id = #{borrowId,jdbcType=BIGINT},
            type = #{type,jdbcType=VARCHAR},
            state = #{state,jdbcType=VARCHAR},
            param_json = #{paramJson,jdbcType=VARCHAR},
            return_json = #{returnJson,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_urge_order_push_log
          <set>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="borrowId != null and borrowId != '' ">        
                borrow_id = #{borrowId,jdbcType=BIGINT},                
            </if>
            <if test="type != null and type != '' ">        
                type = #{type,jdbcType=VARCHAR},                
            </if>
            <if test="state != null and state != '' ">        
                state = #{state,jdbcType=VARCHAR},                
            </if>
            <if test="paramJson != null and paramJson != '' ">        
                param_json = #{paramJson,jdbcType=VARCHAR},                
            </if>
            <if test="returnJson != null and returnJson != '' ">        
                return_json = #{returnJson,jdbcType=VARCHAR},                
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_urge_order_push_log
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_urge_order_push_log
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_urge_order_push_log
        <include refid="searchBy"/>
    </select>
    
</mapper>
